@import url('https://fonts.googleapis.com/css?family=Oswald');
/* Base Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
          margin: 0;
          padding: 0;
          background: url("../img/Fond.jpg") no-repeat top left #000;
          background-size: cover;
      }
      .menu{
  display: flex;
  margin-top:100px;
  /* c'est cause du margin left que la page n'est pas responsive à regler */
  margin-left: 400px;
  padding: 50px;
  width: 1000px;
  height: 700px;
  justify-content: center;
  background-color:rgba(211,211,211,0.4);
  border-radius:10%;
}
.titre{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 3rem;
  vertical-align:top;
  justify-content: center;
  text-align: center;
  height: 620px;
}
.image{
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-150%); /* tiré de la moitié de sa propre hauteur */
  justify-content: space-evenly;
}
.logo{
  display: flex;
  transform: translateY(-200%); /* tiré de la moitié de sa propre hauteur */
  justify-content: center;
}
img{
border-radius: 25%;
justify-content:space-evenly;
}

/* .image {
	margin: 15px 15px 0;
	padding: 0;
}
.image:last-child {
	padding-bottom: 60px;
} */
.image::after {
	content: '';
	clear: both;
	display: block;
}
.image div {
	position: relative;
	float: left;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.image div:first-child {
	margin-left: 0;
}
.image div span {
	position: absolute;
	bottom: -50px;
	left: 0;
	z-index: -1;
	display: block;
	width: 270px;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	/* width: 300px; */
	margin: 0;
	padding: 0;
	/* background: #fff; */
	overflow: hidden;
}
figure:hover+span {
	bottom: -100px;
	opacity: 1;
}


/* Animation de la notification  */
 .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 10px 10px 20px auto;
  padding: 20px;
  background-color:rgba(135, 206, 250,0.7);
  border-radius: 5px;
  width: 300px;
  position: relative;
  transition: all 5s ease-in-out;
}

.content{
  font-size: 20px;
}
.popup h2 {
  margin-top: 0;
  color: #fff;
  /* font-family: 'Inria Serif', serif; */
  font-family: 'Oswald', sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
    animation: close 2s  infinite alternate;
}

@keyframes close {
 0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 42px rgb(255, 255, 255),
    0 0 77px rgb(0, 0, 0),
    0 0 100px rgb(0, 0, 0);
 }
   20%, 24%, 55% {
     text-shadow:none;
   }
}

.popup .close:hover {
  color:red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
